<app-menubar pageTitle="Customer Detail" breadCrumbs="CustomerDetail">
    <button (click)="etitCustomer()" class="btn btn-outline-primary">
        <i class="bi bi-pencil pe-1"></i>
        Edit Customer
    </button>
</app-menubar>

<div class="p-5">
    <div class="main-container p-4">
        <div class="row g-0">
            <div class="col-6 px-2">
                <h5 class="m-">Personal Details</h5>

                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Name
                    </div>
                    <div class="value">
                        {{customerDetails?.name}}
                    </div>
                </div>
                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Email
                    </div>
                    <div class="value">
                        {{customerDetails?.email}}
                    </div>
                </div>
                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Phone
                    </div>
                    <div class="value">
                        {{customerDetails?.phone}}
                    </div>
                </div>
                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Website
                    </div>
                    <div class="value">
                        {{customerDetails?.website}}
                    </div>
                </div>
                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Username
                    </div>
                    <div class="value">
                        {{customerDetails?.username}}
                    </div>
                </div>
            </div>
            <div class="col-6 px-2">
                <h5 class="m-">Company Details</h5>

                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Company Name
                    </div>
                    <div class="value">
                        {{customerDetails?.company?.name}}
                    </div>
                </div>
                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Business    
                    </div>
                    <div class="value">
                        {{customerDetails?.company?.bs}}
                    </div>
                </div>
                <div class="d-flex flex-column py-2">
                    <div class="label">
                        Catch Phrase
                    </div>
                    <div class="value">
                        {{customerDetails?.company?.catchPhrase}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
